<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />
  <link rel="icon" sizes="256x256" href="<%= require('./img/lociterm256x256m.png') %>">
  <link rel="icon" sizes="128x128" href="<%= require('./img/lociterm128x128m.png') %>">
  <link rel="icon" sizes="96x96" href="<%= require('./img/lociterm96x96.png') %>">
  <link rel="manifest" href="./manifest.json">
</head>
<body>

	<div class="locilayout">
		<div class="terminal-container">
			<div id="terminal"></div>
		</div>
		<div id="menuhandler"></div>
		<div id="nerfbar"></div>
	</div>

</body>
</html>
