:root {
	--nerfbar-open-display: flex;
	--nerfbar-close-display: none;
}

#nerfbar {
	display: var(--nerfbar-close-display);
	min-height: var(--finger-size);
	max-height: var(--finger-size);
	flex-grow: 3;
}

.nerfbar {
	background: var(--book-paper-color);
	color: var(--book-text-color);
	border-color: var(--book-cover-color);
	border-style: solid;
	border-radius: calc(var(--finger-size)/2.0);
	padding: 0.5em;
	align-items: center;
	border-width: 1mm;
}

.nerfbar div {
}

.nerfbar input {
	font-size: var(--font-size);
	font-family: inherit;
	border-style: none;
	border-width: 0px;
	flex-grow: 1;
	outline-color: var(--book-cover-color);
	min-height: var(--finger-size);
	background: var(--book-paper-color);
	background: var(--book-altpaper-color);
}

.nerfbar button {
	min-height: var(--finger-size);
	min-width: var(--finger-size);
}
