:root {
	--nerfbar-open-display: flex;
	--nerfbar-close-display: none;
}

#nerfbar {
	display: var(--nerfbar-close-display);
	opacity: var(--menufade-hidden);
	transition: opacity 4s ease-in-out;
	min-height: var(--finger-size);
	max-height: var(--finger-size);
	flex-grow: 3;
}

#nerfbar:hover {
	opacity: 1.0;
	transition: opacity 0.25s ease-in-out;
}

#nerfbar:active {
	opacity: 1.0;
	transition: opacity 0.25s ease-in-out;
}

.nerfbar {
	background: var(--book-paper-color);
	color: var(--book-text-color);
	border-color: var(--book-cover-color);
	border-style: solid;
	border-radius: calc(var(--finger-size)/2.0);
	padding: 0.5em;
	align-items: center;
	border-width: 1mm;
	z-index: +1;
}

.nerfbar div {
}

.nerfbar textarea {
	font-size: var(--font-size);
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	flex-grow: 1;
	outline-color: var(--book-cover-color);
	min-height: var(--finger-size);
	background: var(--book-paper-color);
	background: var(--book-altpaper-color);
	resize: none;
}

.nerfbar button {
	min-height: var(--finger-size);
	min-width: var(--finger-size);
}
