@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans&family=Noto+Sans+Symbols&display=block');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=block');

@font-face {
	font-family: Commodore;
	src: url(./fonts/CommodoreAngledv1.2.ttf) format("truetype");
}

@font-face {
  font-family: LOFont;
  src: url(./fonts/DejaVuSansMono.ttf) format("truetype");
}

@font-face {
  font-family: Glass;
  src: url(./fonts/Glass_TTY_VT220.ttf) format("truetype");
}


.scalefont {
  /* font-size: 1.75vw; */
}

body  { 
  font-family: LOFont, Glass, monospace;
  font-size: initial; /* so there is a fallback in case vw doesn't work right. */
  margin: 0px;
  background: rgba(0,0,0,1); 
}



.locilayout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: clip;
}

#terminal {
	width: 100%;
	height: 100%;
	/* position: fixed;*/
	flex-grow: 1;
}
